<div class='row padded'>
	<div class='col-md-3 col-sm-3 pad-right text-right'>
		<h2 class=''>About</h2>
	</div>
	<div class='col-md-9 col-sm-9 border-left'>

		<p class='feature'>
		This site was designed to explore our perceptions of how countries stack up to one another through the often surprising lens of the Human Development Report indicators. Whether through media, news or other first-hand experience, we make assumptions about a great many places in the world that may or may not be supported by the figures.
		</p>
		<p class='feature'>
		Hopefully some of the comparisons here will surprise you and give a reason to ponder the nature what we mean by the <i>'Global South'</i> and <i>'Global North'</i> and just how mutable these constructed boundaries might be.
		</p>
	</div>
</div>

<div class='row padded'>
	<div class='col-md-3 col-sm-3 pad-right text-right'>
		<h2>Human Development Report</h2>
	</div>
	<div class='col-md-9 col-sm-9 border-left'>

		<p class='feature'>
		The <%= link_to "Human Development Index (HDI)", "http://en.wikipedia.org/wiki/Human_Development_Index", target: '_blank' %> is a composite statistic that combines health, education and income indicators to rank countries according to their level of human development. While the overall HDI country ranks are hardly surprising, the most developed nations lag behind in many other indicators that are often overlooked. The United Nations Development Program (UNDP) published the first annual <%= link_to "Human Development Report", 'http://hdr.undp.org/en/2013-report', target: '_blank' %> in 2010, examining HDI ranks in relation to a range of objective and subjective data on social and gender inequality, the environment, security, innovation &amp; technology and more.
		</p>
		<p class='feature'>
		This site makes use of UNDP's <%= link_to "Human Development Data API", "http://hdr.undp.org/en/data/api", target: '_blank' %> to access the most recent data for 7 different report categories.

		</p>
	</div>
</div>


