<div class='row padded'>
	<div class='col-md-2 col-sm-2'>
		<h2 class=''>About</h2>
	</div>
	<div class='col-md-10 col-sm-10 border-left'>

		<p class='feature'>
		This site was designed to explore our perceptions of how countries stack up to one another through the often surprising lens of the Human Development Index indicators. Whether constructed through media, news or other first-hand experience, we carry biases about a great many places in the world that may or may not be supported by the figures. Hopefully some of the comparisons here will surprise you and give a reason to ponder exactly what we mean by the <i>'Global South'</i> and implicitly the <i>'Global North'</i> and how mutable or not these constructed boundaries might be.
		</p>
	</div>
</div>

<div class='row padded'>
	<div class='col-md-2 col-sm-2'>
		<h2>HDI</h2>
	</div>
	<div class='col-md-10 col-sm-10 border-left'>

		<p class='feature'>
		About HDI
		"A country's overall index can conceal the fact that different groups within the country have very different levels of human development...."
		</p>
	</div>
</div>


