<div class='main'>
	<h3 class='btn btn-default'><%= link_to @criterion.category.name %></h3>

	<div class ='question pad-bottom'>
		<h1><%= @question %></h1>
	</div>

	<%= render partial: 'country_pair' %>

	<div class='country-form'>
		<% if user_signed_in? %>
		<h4>Compare to your home country:</h4>
			<%= render partial: 'compare_country_form' %>
		<% end %>
	</div>
</div>