	<div class="strip">
		<div class="title">
	  	<h1>GO FIGURE.</h1>
	  	<h3>A comparative look at countries through the Human Development Index</h3>
	  	<div class='right'>
	  		<%= link_to 'Explore the Index', questions_path, class: "btn btn-primary" %>
	  	</div>
	  </div>
	</div>
