	<div class="strip">
		<div class="title">
	  	<h1>GO FIGURE.</h1>
	  	<h3>A comparative look at countries<br>through the Human Development Report</h3>
	  	<div class='right'>
	  		<%= link_to 'Explore', questions_path, class: "btn btn-primary wide" %>
	  	</div>
	  </div>
	</div>
