<div class="panel panel-default">

	<div class="panel">
		<h1>User summary</h1>
	</div>
	<div class='row'>
		<div class='col-md-6 col-sm-6'>
			<%= render partial: "answers_tally" %>
		</div>
		<div class='col-md-6 col-sm-6'>
			<div class='panel panel-default'>
					<h4>Set your comparison country</h4>
					<%= render partial: "compare_country_form" %>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel">
		<h2>Bias Points</h2>
		<h5>What assumptions did you make about the featured countries?</h5>
	</div>
	<%= render partial: "user_bias" %>
</div>