<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Overall Country Positions</h3>
  </div>

  	<ul>
	    <% @compared_countries.each do |country_hash| %>
	    	<div class="panel highlight">
		    	<li>
		    		<ul>
		    		<h4>
		    			<li><span class="list_rank"><%= country_hash[:rank] %>. </span>
		    					<span class="country_name button-rank"><%= link_to country_hash[:country_name], country_path(Country.find_by(name: country_hash[:country_name])) %></span>
		    			</li>
		    		</h4>
		    		</ul>
		    	</li>
	    	</div>
	    <% end %>

    </ul>
</div>
