<div class="panel panel-default">
  <div class="panel-heading">
  	<h3>Overall Country Positions</h3>
  </div>

  	<ul>
	    <% @compared_countries.each do |rank_array| %>
	    	<div class="panel highlight">
		    	<li>
		    		<ul>
		    		<h4>
		    			<li><span class="list_rank"><%= rank_array[0] %>. </span>
		    					<span class="country_name button-rank"><%= link_to rank_array[1].name, country_path(rank_array[1]) %></span>
		    			</li>
		    		</h4>
		    		</ul>
		    	</li>
	    	</div>
	    <% end %>

    </ul>
</div>
