<h1>Breakdown for <%= @country.name %></h1>

<ul>
	<% @categories.each do |category| %>
		<% criteria = Criterion.where(category_id: category.id) %>
		<li><%= category.name %>
			<ul>
			<% criteria.each do |criterion| %>

				<li><%= criterion.name %>: <%= Score.where(country_id: @country.id, criterion_id: criterion.id).first.score %></li>
			<% end %>
			</ul>
		</li>
	<% end %>
</ul>
