@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 *= require_tree .
 */

/* General
=================================*/

body {
	font-family: 'Raleway', sans-serif;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
}

h1 {
	font-size: 180%;
}

footer {
	height: 25px;
	margin: 30px 0 20px 0;
	background-color: rgba(238, 238, 238, .8);
}

input {
	border-radius: 5px;
}

#page {
	min-height: 300px;
}

header {
	color: gray;
	background: image-url('map-header.png') no-repeat center;
	background-size: cover;
	text-align: left;
}

header h1 {
	font-size: 350%;
	font-weight: normal;
	margin-top: 40px;
}

header h1 a, header h1 a:visited, header h1 a:active {
	color: black;
}

header h1 a:hover {
	color: #474747;
}

header h4 {
	color: gray;
	margin-top: -7px;
}

/* Nav bar
=================================*/

.navbar {
	margin-top: 10px;
	border-radius: 0px;
	background-color: rgba(238, 238, 238, .8);
}

.nav > li {
	font-weight: bold;
	font-size: 110%
}

.nav > li:hover {
	background: rgba(255, 255, 255, .8);
}

#bs-example-navbar-collapse-1 {
	margin-left: -30px;
}

ul#right-nav > li > a {
	color: #428bca;
}

/* Main
=================================*/

ol {
	list-style: decimal inside;
}

table {
	width: 80%;
}

td {
	border-bottom: 1px solid #dddddd;
	line-height: 180%;
}

td:first-child {
	width: 90%;
}

.narrow {
	width: 60%;
	margin: 0 auto;
}

.main {
	text-align: center;
	margin: 15px auto 0 auto;
	width: 85%;
}

.feature {
	font-size: 120%;
}

.alert {
	padding: 5px 5px;
}

.glyphicon {
	font-size: 60%;
}

.title-block {
	display: block;
	width: 20%;
}

.next-arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 8%;
	height: 100%;
	background-image: image-url('arrow2.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 50%;
}

.next-arrow:hover {
	background-image: image-url('arrow2-blue.png');
	background-repeat: no-repeat;
}

/* Landing page
=================================*/

.landing {
	width: 100%;
	height: 600px;
	background: image-url('map-vector.png') no-repeat;
	background-size: cover;

}

.strip {
	width: 100%;
	background: rgba(255, 255, 255, .9);
	position: absolute;
	top: 150px;
	border: 1px solid #e7e7e7;
	padding: 50px 50px;
}

.title {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}

.title h1 {
	font-size: 500%;
	color: gray;
	display: block;
	margin: 0;
}

.title h3 {
	margin: 5px 0 20px 0;
}

/* Question / Answer pages
========================*/
.container-fluid {
	width: 80%;
}

.question {
	width: 80%;
	margin: 0 auto;
}

.btn {
	margin: 5px 5px;
}

.panel {
	margin: 5px 5px;
	padding: 10px 20px;
}

.line_up {
	text-align: left;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
	display: inline-block;
}

.line_up ul li:first-child {
	width: 65%;
}

.highlight {
	background: #A2B5CD;
	font-size: 110%;
}

.list-rank {
	width: 20%;
}

.country-name {
	width: 80%;
}

.button-rank a, .button-rank a:active, .button-rank a:visited {
	color: white;
	font-weight: bold;
}

.button-rank a:hover {
	color: #eeeeee;
}

.wide {
	padding: 10px 40px 10px 40px;
}

/* Devise forms
===========================*/

.devise-box {
	border-left: 1px solid #fc9450;
	margin: 20px 0 0 0;
	padding: 0 0 0 40px;
}

.devise-box h2 {
	padding: 0 0 10px 0;
	margin: 0;
}

.devise-box input {
	width: 200px;
}

input.check_box {
	width: auto;
	margin-right: 5px;
}

.country-form {
	margin: 60px auto;
	width: 70%;
}

/* Add Ons
=================================*/

.right {
	float:right;
}

.text-right {
	text-align: right;
}

.left {
	text-align: right;
	float:left;
}

.padded {
	padding: 20px 0 20px;
}

.border-left {
	border-left: 1px solid #dddddd;
}

.gray {
	color: gray;
}

.clear {
	clear: both;
}

.relative {
	position: relative;

}

.pad-top {
	padding-top: 10px;
}

.pad-bottom {
	padding-bottom: 10px;
}

.pad-left {
	padding-left: 20px;
}

.pad-right {
	padding-right: 20px;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 10px
}

.margin-right {
	margin-right: 10px;
}


