@import "bootstrap";
ol {
	list-style: decimal inside;
}

.alert {
	text-align: center;
}

.main {
	text-align: center;
	margin: 0 auto;
	width: 85%;
}

.right {
	text-align: right;
}

.question {
	margin-bottom: 40px;
}

.btn {
	margin: 5px 5px;
}

.panel {
	margin: 5px 5px;
	padding: 5px 5px;
}

.line_up {
	text-align: left;
}

ul li {
	list-style-type: none;
	display: inline-block;
}

.line_up ul li:first-child {
	width: 65%;
}

.highlight {
	background: #A2B5CD;
	font-size: 110%;
}


